# Keep .gitkeep files
!.gitkeep

# Eclipse
*.pydevproject
.metadata
.gradle
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# Netbeans
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# SublimeText
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Dreamweaver
# DW Dreamweaver added files
_notes
dwsync.xml

# Notepad++ backups #
*.bak

# SVN
.svn/

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# TortoiseGIT
/.tgitconfig

# PHPStorm
.idea

# Molecule
molecule/*/.cache/
molecule/*/.molecule/
molecule/*/tests/__pycache__/
molecule/*/pytestdebug.log